.tasks-wrapper .search-form {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 900px) {
  .tasks-wrapper .search-form {
    width: 90%;
  }
}
.tasks-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.tasks-wrapper label {
  display: block;
  font-size: 18px;
  color: var(--sec-color);
  font-size: bold;
  margin-left: 5px;
}

.tasks-wrapper select {
  background-color: #85ced5;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
  min-width: 200px;
}

.task-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.tasks {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 10px;
}

.tasks > div {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}
.tasks > div:hover {
  box-shadow: 0 2px 5px #777;
}

.tasks .task-title {
  background-color: #eee;
  text-align: center;
  color: #2196f3;
  border-radius: 10px;
  text-transform: uppercase;
}
.tasks .task-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: var(--sec-color);
}
.task-info span:not(:last-child) {
  margin-right: 50px;
}
.task-info .pending,
.task-info .completed {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
}

.task-info .pending {
  background-color: #fcefc7;
  color: #f8d564;
}
.task-info .completed {
  background-color: #2196f3;
  color: #fff;
}

.tasks .btns {
  display: flex;
  justify-content: space-between;
}
